
<%# <% require 'services/gpt_api.rb' %>


  <div class="wrapper">
    <h2>GREETINGS</h2>
    <p></p>
    <ul class="messages">
      <li>Thinking...</li>
    </ul>
    <form class="add-items">
      <input type="text" name="item" placeholder="Comment here" required>
      <input type="submit" value="Ask">
    </form>
  </div>


<script>

</script>
