

  <div class="wrapper">
    <h2>GREETINGS</h2>
    <p></p>
    <ul class="messages">
      <li>Thinking...</li>
    </ul>
    <form class="add-items">
      <input type="text" name="item" placeholder="Comment here" required>
      <input type="submit" value="Ask">
    </form>
  </div>




<script>


  // var testo = items;
  // var testoElement = document.querySelector('#testo');

  // testoElement.textContent = testo; // Update text content of the element

</script>

<%  convoArray = [{ "role": "user", "content": "Greetings Potion Seller" }, { "role": "assistant",
  "content": "Welcome, adventurer. I am the potion seller, purveyor of the finest elixirs in all the land. What
  brings you to my humble shop today?" }, { "role": "user",
  "content": "I am in need of a potion of healing"}, { "role": "assistant",
  "content": "Ah, a wise choice indeed. A potion of healing can be the difference between life and death on any perilous journey. I have just the thing for you. This potion is brewed from the purest ingredients, and has the power to mend even the gravest of wounds. However, I must warn you, it does not come cheaply. Are you willing to pay the price?"}, { "role": "user",
  "content": "I am willing to pay the price"}]
%>




<% gptCall = GptApi.new %>



<%# <%= gptCall.fetch_gpt(convoArray) %> %>
